<h3><b>Coupons</b></h3>

<section class="new-coupon">
  <%= link_to "Create Coupon", new_merchant_coupon_path(@merchant) %>
</section>

<section class="active-coupons">
    <b><h3>Active Coupons</h3></b>
      <% @active_coupons.each do |coupon| %> 
          <div id="coupon-<%=coupon.id%>">
            <p><%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %></p>
            <p>Code: <%=coupon.code%></p>
            <p>Category: <%=coupon.category%></p>
            <p>Amount: <%=coupon.amount%></p>
          </div>
      <%end%>
  </section>
<section class="inactive-coupons">
  <b><h3>Inactive Coupons</h3></b>
    <% @inactive_coupons.each do |coupon| %> 
      <div id="coupon-<%=coupon.id%>">
        <p><%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %></p>
        <p>Code: <%=coupon.code%></p>
        <p>Category: <%=coupon.category%></p>
        <p>Amount: <%=coupon.amount%></p>
      </div>
  <%end%>
</section>